.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1520px;
    height: 360px;
    background-color: #F7F7F7;
    padding-top: 70px;
}

.nav-main {
    flex: 1;
    padding: 0 5px;
    margin-top: 10px;
    background-color: #fff;
    max-width: 200px;
    max-height: 360px;
    overflow: hidden;
    border-radius: 10px;
}

.nav-main-header {
    color: #333333;
    font-size: 14px;
    height: 34px;
    padding-top: 5px;
}
.nav-main-container {
    color: #333333;
    font-size: 14px;
    height: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nav-main-a {
    color: #333333;
    font-size: 12px;
}

.picture {
    flex: 4;
    max-width: 776px;
    position: relative;
    max-height: 350px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.picture ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 800%;
}
.picture ul li {
    flex:1;
}
.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}

.arrow-r {
    right: 0;
}

.login-main {
    flex: 1;
    max-width: 190px;
    position: relative;
    max-height: 350px;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.login-main-header {
    position: absolute;
    top: 30px;
    width: 160px;
    font-size: 14px;
    text-align: center;
    left: 50%;
    transform: translate(-50%,0);
}
.login-main .img {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%,0);
} 

.login-main-click {
    position: absolute;
    top: 235px;
    width: 168px;
    height: 32px;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    color:#fff;
    background-color: skyblue;
    left: 50%;
    transform: translate(-50%,0);
}
.login-main-footer {
    position: absolute;
    bottom: 10px;
    width: 144px;
    font-size: 12px;
    color: #999999;
    left: 50%;
    transform: translate(-50%,0);
}










.content {
    position: relative;
    width: 1520px;
    height: 1865px;
    background-color: #F7F7F7;
    padding: 0 160px;
}
.school {
    position: absolute;
    left: 170px;
    top: 10px;
    width: 200px;
}

.school-all {
    font-size: 16px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #fff;
}

.school-enum {
    position: absolute;
    left: 200px;
    top:0;
    height: 60px;
}

.school-enum ul{
    display: flex;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    background-color: #fff;
    width: 985px;
}

.school-enum ul li {
    padding: 15px 0;
    margin-right: 90px;
    height: 60px;
}

.school-enum img{
    max-width: 110px;
    max-height: 30px;
}

.live {
    position: absolute;
    top: 100px;
    font-size: 24px;
    height: 36px;
}

.teacher {
    position: absolute;
    top: 150px;
    max-height: 570px;
    max-width: 1220px;
    background-color: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
}
.teacher a {
    position: relative;
    width: 290px;
    height: 126px;
    margin-right: 14px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 15px;
}

.teacher a .time {
    position: absolute;
    top: 10px;
    left: 15px;
}

.teacher a img {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 52px;
    height: 52px;
}

.teacher a .title {
    position: absolute;
    top: 40px;
    left: 65px;
    font-size: 14px;
}
.teacher a .name {
    position: absolute;
    top: 65px;
    left: 65px;
}

.recommend {
    position: absolute;
    top: 435px;
    font-size: 24px;
    height: 36px;
    overflow: hidden;
}

.recommend-enum {
    position: absolute;
    top: 485px;
    border-radius: 10px;
    display: flex;
    width: 1220px;
    overflow: hidden;
}

.recommend-enum li {
    flex: 1;
    display: flex;
}

.recommend-enum-each {
    width: 226px;
    height: 320px;
    margin-right: 18px;
    border-radius: 10px;
    background-color: #fff;
}
.recommend-enum-each img {
    width: 226px;
    height: 126px;
    border-radius: 10px;
}

.recommend-enum-each .title {
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
    margin-left: 10px;
}
.recommend-enum-each .university {
    margin-left: 10px;
    font-size: 12px;
    color: #666666;
}
.recommend-enum-each .num {
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
    margin-top: 30px;
}
.recommend-enum-each .question {
    font-size: 12px;
    color: #999999;
    background-color: #F8F9FB;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 200px;
    min-height: 50px;
    border-radius: 10px;
}

.mooc-recommend {
    display: flex;
    position: absolute;
    top: 850px;
    width: 1200px;
    overflow: hidden;
}

.mooc-recommend li {
    flex: 1;
    display: flex;
}

.mooc-recommend li img {
    width: 390px;
    height: 110px;
    margin-right: 15px;
    border-radius: 10px;
}

.arrangement {
    position: absolute;
    top: 980px;
    font-size: 24px;
}

.arrangement-classify {
    position: absolute;
    top: 1030px;
    display: flex;
}

.arrangement-classify-enum {
    flex: 1;
    background-color: #fff;
    height: 496px;
    margin-right: 15px;
    border-radius: 10px;
}
.arrangement-classify-enum-header {
    position: relative;
    width: 390px;
    height: 68px;
}
.arrangement-classify-enum-header .theme {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #D1802B;
}
.arrangement-classify-enum-header .top50 {
    position: absolute;
    left: 98px;
    top: 15px;
    font-size: 14px;
    color: #D1802B;
}
.arrangement-classify-enum-header .theme-en {
    position: absolute;
    left: 200px;
    top: 10px;
    font-size: 18px;
    font-weight: 700;
    font-style: oblique;
    color: #E2E2E2;
}
.arrangement-classify-enum ul {
    display: flex;
    width: 390px;
    overflow: hidden;
}
.arrangement-classify-enum ul li {
    flex: 1;
}
.arrangement-classify-enum-each {
    position: relative;
    width: 390px;
    height: 88px;
    padding-bottom: 10px;
}
.arrangement-classify-enum-each .number {
    margin: 0 5px 0 10px;
    font-size: 20px;
    color: #FA5055;
}
.arrangement-classify-enum-each img {
    width: 112px;
    height: 63px;
}
.arrangement-classify-enum-each .description  {
    position: absolute;
    left: 150px;
    top: 0;
}
.arrangement-classify-enum-each .description .course {
    color: #333333;
    font-size: 14px;
}
.arrangement-classify-enum-each .description .collge {
    color: #666666;
    font-size: 12px;
}
.arrangement-classify-enum-each .description .persons {
    position: absolute;
    top: 40px;
    color: #999999;
    font-size: 12px;
}

.evaluation {
    position: absolute;
    top: 1550px;
    font-size: 24px;
    color: #333333;
}
.evaluation-all {
    position: absolute;
    top: 1610px;
    display: flex;
    width: 1200px;
    height: 220px;
    margin-bottom: 5px;
    overflow: hidden;
}
.evaluation-all li {
    flex: 1;
    display: flex;
    height: 220px;
}
.evaluation-enum {
    position: relative;
    height: 195px;
    width: 290px;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 13px;
    margin-top: 15px;
}
.evaluation-enum img {
    position: absolute;
    left: 10px;
    top: -15px;
    width: 56px;
    height: 56px;
    border-radius: 999px;
}
.evaluation-enum .uname {
    position: absolute;
    top: 10px;
    left: 80px;
    font-size: 12px;
    color: #999999;
}
.evaluation-enum .remark {
    position: absolute;
    left: 10px;
    top: 60px;
    word-break : break-all;
    word-wrap : break-word;
    font-size: 14px;
    color: #333333;
    margin-right: 8px;
}
.evaluation-enum .from {
    position: absolute;
    left: 10px;
    top: 160px;
    font-size: 12px;
    color: #53B880;
}






.lessons {
    width: 1520px;
    height: 5050px;
    background-color: #F7F7F7;
    padding: 0 160px;
}
.headline {
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
}

.nav-items {
    position: relative;
    height: 35px;
    width: 1200px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}
.on {
    display: inline-block;
    font-size:14px;
    color: #00cc7e;
    height: 35px;
    line-height: 35px;
    border-bottom: 2px solid #00cc7e;
    margin-right: 15px;
}
.all {
    display: flex;
    width: 1230px;
    flex-wrap: wrap;
}
.enum {
    position: relative;
    width: 224px;
    height: 255px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}
.image {
    position: relative;
    height: 126px;
    background-image: url(../upload/excellent1.webp);
    background-size: 100% 100%;
    margin-bottom: 0;
}
.mark {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    background-color: #CBA265;
    color: #fff;
    padding: 0 3px;
    border-radius: 5px;
}

.introduction {
    width: 224px;
    padding: 10px;
}
.lesson-name {
    margin-bottom: 3px;
    color: #333333;
    font-size: 14px;
}
.collge-name {
    font-size: 12px;
    color: #666666;
}
.introduction .tutor {
    font-size: 12px;
    color: #666666;
    margin-top: 4px;
}
.introduction-footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 20px;
}
.introduction-footer .now-time {
    display: inline-block;
    font-size: 12px;
    color:#53B880;
}
.introduction-footer img {
    width: 13px;
    height: 13px;
}
.introduction-footer .person {
    margin-left: 45px;
    display: inline-block;
    font-size: 12px;
    color: #999999;
}

.off {
    display: inline-block;
    font-size: 14px;
    color: #666666;
    margin-right: 20px;
}
.cue {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    font-size: 12px;
    color: #999999;
}
.cue a {
    display: inline-block;
    margin-left: 8px;
    color: #666666;
    height: 24px;
    line-height: 24px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .04);
    padding: 0 16px;
}
.computer .image {
    background-image: url(../upload/computer1.webp) ;
}
.foreign .image {
    background-image: url(../upload/foreign1.webp);
}
.engineering .image {
    background-image: url(../upload/engineering1.webp);
}
.master .image {
    background-image: url(../upload/master1.png);
}
.master .mark {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    background-color: #333333;
}
.master .person {
    margin-left: 0;
    display: inline-block;
    font-size: 12px;
    color: #999999;
}
.free {
    display: inline-block;
    padding-left: 95px;
    font-size: 20px;
    color: #00cc7e;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
}
.audio .image {
    background-image: url(../upload/audio1.webp);
}
.audio .person {
    margin-left: 0;
    display: inline-block;
    font-size: 12px;
    color: #999999;
}
.motto{
    font-size: 12px;
    color: #666666;
}
.price {
    display: inline-block;
    padding-left: 95px;
    font-size: 20px;
    color: #ff7a3e;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
}

.mooc-series {
    display: flex;
    margin-top: 40px;
    width: 1200px;
    overflow: hidden;
}
.mooc-series li {
    flex: 1;
    display: flex;
}

.mooc-series li img {
    width: 390px;
    height: 110px;
    margin-right: 15px;
    border-radius: 10px;
}

.hot {
    font-size: 24px;
    color: #333333;
    margin-top: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.hot-all {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    
}
.hot-all-enum {
    font-size: 14px;
    font-weight: 400;
    color: rgba(51,51,51);
    width: 108px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 0 10px;
    margin-top: 12px;
    margin-right: 12px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}
.hot-all-enum span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.story {
    font-size: 24px;
    color: #333333;
    margin-top: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.story-all {
    position: relative;
    font-size: 14px;
    background-color: rgba(75,107,148,1);
    color: #fff;
    width: 1200px;
    height: 460px;
}
.story-all-change {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 80px;
    height:24px;
    border-radius: 15px;
    background-color: #FFFFFF77;
}
.story-all-change span {
    margin-left: 7px;
    height: 18px;
    line-height: 18px;
}

.story-all-enum {
    position: absolute;
    left: 40px;
    top: 40px;
    display: flex;
}

.story-all-left {
    width: 544px;
}
.story-all-left-e{
    position: relative;
    width: 544px;
    margin-bottom: 20px;
}
.png {
    position: absolute;
    top:0;
    left: 0;
    width: 52px;
    height: 52px;
}
.story-all-left-e-words{
    display: inline-block;
    width: 480px;
    height: 170px;
    margin-left: 60px;
}

.story-all-left-e-words-name {
    font-size: 16px;
    color: #FFFFFF;
}
.story-all-left-e-words-job {
    font-size: 12px;
    color: #FFFFFF;
}
.story-all-left-e-words-word {
    margin-top: 10px;
    background-color: #FFFFFF33;
    border-radius: 15px;
    height: 135px;
    padding: 12px;
}

.story-all-right {
    display: flex;
    width: 544px;
    margin-left: 20px;
}
.story-all-right-e {
    position: relative;
    width: 544px;
    margin-right: 25px;
}
.story-all-right-e-words-name {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 60px;
}
.story-all-right-e-words-job {
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 60px;
}
.story-all-right-e-words-word {
    margin-top: 20px;
    background-color: #FFFFFF33;
    border-radius: 15px;
    padding: 12px;
    height: 298px;
}

.video {
    background-image: url(../upload/video.png);
    width: 1200px;
    height: 160px;
    margin-top: 10px;
    border-radius: 10px;
}
.video-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 160px;
    background-color: #00000080;
    border-radius: 10px;
}
.video-content img {
    width: 36px;
    height: 36px;
}
.video-content span {
    font-size: 28px;
    color: #FFFFFF;
    width: 252px;
    height: 40px;
    margin-left: 12px;
}

.end {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    padding: 80px 0 100px 0;
}
.end-words {
    font-size: 16px;
    color: #333333;
    margin-bottom: 21px;
}
.end img {
    width: 222px;
    height: 62px;
}
.end .study {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #00CC7E;
    width: 320px;
    height: 48px;
    line-height: 48px;
    border-radius: 32px;
    text-align: center;
}


